body {
  margin: 0;
  font-family: "Freesentation-4Regular", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Freesentation-4Regular;
  font-weight: normal;
  src: url("./fonts/Freesentation-4Regular.ttf") format("truetype");
}
